/* General */

body { font-family: Mulish, sans-serif; }
h1, h2, h3 { font-weight: 900; }
h4, h5, h6 { font-weight: 700; }
.names span.first { font-weight: 900; }
.badge-wrapper .badge-category .category-name { font-weight: 600; }
.raw-topic-link { font-weight: 700; }
#banner { margin-bottom: 17px; }

@media (max-width:760px) {
.custom-header-links, #brand-logo { display: none !important; }
}

/* Branding Header */

.b-header, .b-footer { background-color: #2F1F62 !important; }
.b-header .nav-pills>li>a:hover { background-color: rgba(255,255,255,.15) !important; color: #FFF !important; }
.b-header a { color: #FFF !important; }
.custom-header-links a { font-weight: 600; line-height: 18px; }

/* Projects */

.category-projects .category-box-inner .description { display: none; }
.category-logo.aspect-image { --max-height: 100px; }

/* Embed */

.cooked hr + small { font-size: 15px; font-weight: bold; }
.btn.expand-post { display: none; }

/* Footer */

.site-footer {
    background: #2F1F62;
    color: rgba(255, 255, 255, 0.65);
    font-size: inherit;
    line-height: normal;
}
.site-footer-global-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: normal;
    padding: 3em 0;
}
.site-footer-global-nav__section {
    flex: auto;
}
.site-footer-global-nav h3 {
    font-weight: 700;
    margin-bottom: 1.5rem;
}
.site-footer-global-nav ul {
    list-style: none;
    margin: 0;
}
.site-footer-global-nav li {
    margin: .25em 0;
    padding-left: 0;
    line-height: inherit;
}
.site-footer-global-nav a {
    color: inherit;
}

@media (max-width: 640px) {
    .site-footer-global-nav {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .site-footer-global-nav__section {
        flex-basis: 50%;
    }
}
